

mat-sidenav {
  width: 280px;
  padding:15px;
}


mat-icon{
  padding: 5px;
  box-sizing: initial;
}

.main-content {
  padding:20px;
}
.toolbar-spacer {
  flex: 1 1 auto;
}

.sideMenuText{
  display: flex;
  justify-content: center;
  align-items: center;

}
