<div class="clsMainMenu">
  <div class="clsTopMenu">
    <div class="Manu-container clear">
      <div class="clsLogoContainer">
        <a class="logo scrollhide" href="https://www.apnikirana.com/" title="apnikirana"><img
            src="https://www.apnikirana.com/images/logo.jpg" alt="apnikirana" class="icon icon-logo" /></a>
      </div>
      <div class="clsSearchField">
        <div class="clsGridCategories">
          <i class="fa fa-th-large"></i>
          <div class="clsLabel">Select Categories</div>
        </div>
        <div class="clsPinAvailability">
          <i class="fa fa-map-marker"></i>
          <div class="clsLabel">Check Delivery Availablity</div>
        </div>
        <div class="clsSearchProduct">
          <input type="text" name="term" class="txt_search" placeholder="Search for product..." />
          <button type="submit" class="fa fa-search"></button>
        </div>
      </div>
      <div class="clsCart">
        <a href="cart">
          <i class="fa fa-shopping-bag"></i>
          <span id="cart_number" class="badge" style="background-color: #97c32d;">0</span></a>
      </div>
      <div class="clsLogin">
        <a><i class="fa fa-user"></i> Login</a>
      </div>
    </div>
  </div>
  <div class="clsBottomMenu">
    <div class="ruby-menu-demo-header">

      <div class="ruby-wrapper">
        <button class="c-hamburger c-hamburger--htx visible-xs">
          <span>toggle menu</span>
        </button>
        <div class="nav-items">
          <ul class="ruby-menu">


            <li class="ruby-menu-mega nav-list" *ngFor="let Category of NavMenuCollection">
              <a href="Personal-Care">{{Category.categoryName}}</a>
              <div class="ruby-grid ruby-grid-lined">
                <div class="ruby-row">

                  <div class="col-md-2" *ngFor="let subcategory of Category.subcategorydata">
                    <h3 class="ruby-list-heading">
                      <a href="Bath-Body">{{subcategory.subcategoryName}}</a>
                    </h3>
                    <ul>
                      <li *ngFor="let product of subcategory.productdata">
                        <a href="Cold-Cream-">{{ product.productName}} </a>
                      </li>

                    </ul>
                  </div>
                </div>
              </div>
              <span class="ruby-dropdown-toggle"></span>
            </li>



          </ul>
        </div>
      </div>

    </div>
  </div>
</div>
