<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="false" [ngClass]="{hidden: (isHandset$ | async) === false}"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <span *ngFor="let item of menu">
        <span *ngIf="item.children && item.children.length > 0">
          <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <!-- Cabeceras del submenu -->
                  <div fxLayout="row" fxLayoutAlign="space-between center" class="sideMenuText">
                    <mat-icon>{{item.iconName}}</mat-icon>
                    <span class="sideMenuText">{{item.displayName}}</span>
                  </div>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <span *ngFor="let child of item.children">
                <mat-list-item>
                  <!-- Entradas de cada submenú  -->
                  <div fxLayout="row" fxLayoutAlign="space-between center" class="sideMenuText">
                    <mat-icon>{{child.iconName}}</mat-icon>
                    {{child.displayName}}
                  </div>
                </mat-list-item>
              </span>
            </mat-expansion-panel>
          </mat-accordion>
        </span>
        <span *ngIf="!item.children || item.children.length === 0">
          <mat-list-item>
            <!-- Entradas principales -->
            <div fxLayout="row" fxLayoutAlign="space-between center" class="sideMenuText">
              <mat-icon>{{item.iconName}}</mat-icon>
              {{item.displayName}}
            </div>
          </mat-list-item>
        </span>
      </span>
    </mat-nav-list>

  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>PracticeProject</span>

      <span class="spaces"></span>
      <div [ngClass]="{hidden: (isHandset$ | async) === true}">
        <a mat-button href="#">Home</a>
        <a mat-button href="#">Product</a>
        <a mat-button href="#">About Us</a>

        <a mat-button href="#" routerLink="/auth/login" routerLinkActive="mat-accent"> Login / Signup</a>


        <button mat-button [matMenuTriggerFor]="menulist"  *ngIf="isAuthenticated" >My Account</button>
        <mat-menu #menulist="matMenu" xPosition="before">
          <button mat-menu-item>
            <mat-icon>account_box</mat-icon>
            Profile
          </button>
          <button mat-menu-item>
            <mat-icon>settings</mat-icon>
            Settings
          </button>
          <button mat-menu-item>
            <mat-icon>exit_to_app</mat-icon>
            Logout
          </button>
        </mat-menu>
      </div>
    </mat-toolbar>

    <ng-content></ng-content>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
