.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  box-shadow: 3px 0 6px rgba(0, 0, 0, 0.24);
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.spaces{
flex: 1 1 auto;
}

mat-toolbar a{
display: inline-block;
color: #fff;
margin: 0 10px;
text-decoration: none;
}

.hidden {
  display: none;
}



mat-icon{
  padding: 5px;
}

.main-content {
  padding:20px;
}
.toolbar-spacer {
  flex: 1 1 auto;
}

.sideMenuText{
  display: flex;
  justify-content: center;
  align-items: center;

}
